<h3>Satellite Counts:</h3>
<div  class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{count(satellites,"Space Debris")}}</span></div>
   <div>Communication: <span>{{count(satellites,"Communication")}}</span></div>
   <div>Probe: <span>{{count(satellites,"Probe")}}</span></div>
   <div>Positioning: <span>{{count(satellites,"Positioning")}}</span></div>
   <div>Space Station: <span>{{count(satellites,"Space Station")}}</span></div>
   <div>Telescope: <span>{{count(satellites,"Telescope")}}</span></div>
</div>
